body{
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
}

.logo-container {
background: lightblue;
flex: 1;
}

nav{
background: lightcoral;
flex: 2;
}

.cart{
background: lightgreen;
flex: 1;
}